@using NewsAPI.Models;
@model Article
<link rel="stylesheet" href="~/css/Articles.css" />
@{
    var sourceId = Model.Source.Id;
}
@if(sourceId != null)
{
    <i class="fa fa-heart empty-heart" id="heart-@sourceId"></i>
}
<a href="@Url.Action("ExpandedArticle", "Article", new { art = Model })">
    <div class="card">
        <img src="@Model.UrlToImage" />
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
        <p>@Model.PublishedAt</p>
    </div>
</a>

<script>
    (function() {
      const heart = document.getElementById(`heart-${@sourceId}`);
      heart.addEventListener('click', function() {
          debugger
          $(`#heart-${@sourceId}`).css('color', 'red');
      });
    })();

</script>