@using NewsAPI.Models;
@model Article
<link rel="stylesheet" href="~/css/Articles.css" />
<a href="@Url.Action("ExpandedArticle", "Article", new { art = Model })">
    <div class="card">
        <img src="@Model.UrlToImage" />
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
        <p>@Model.PublishedAt</p>
    </div>
</a>